@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    background-color: black;
    min-height: 1800px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: aliceblue;
    font-size: 1rem;
    font-weight: bold;
}

a:hover {
    color: #007f92;
    transition: 0.5s;
}

/* Header */
header {
    position: relative;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 7%;
    background-color: rgba(1, 1, 1, 0.1);
    border-bottom: 1px solid;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99999;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-size: 4rem;
    font-weight: bold;
}

.logo img {
    width: 72px;
    height: auto;
}

.logo a {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .links {
    display: flex;
    gap: 2rem;
}

.navbar .links a::after {
    content: "";
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.15rem solid;
    transform: scaleX(0);
    transition: 0.2s linear;
}

.navbar .links a:hover::after {
    transform: scaleX(1);
}

.links a {
    font-weight: 500;
}

/*End Header*/

/*Hero*/
section#hero {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: aliceblue;
    background-image: url(https://images.unsplash.com/photo-1431324155629-1a6deb1dec8d?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#hero::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 30%;
    bottom: 0;
    background: linear-gradient(
        0deg,
        rgba(1, 1, 3, 1) 8%,
        rgba(255, 255, 255, 0) 50%
    );
}
#hero h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

/* End Hero */

/* About */
#about {
    padding: 8rem 7% 1.4rem;
    color: aliceblue;
}
#about h1 {
    color: aliceblue;
    font-size: 3rem;
    margin-bottom: 1.5rem;
}
#about h1 span {
    color: #007f92;
}
#about .row {
    display: flex;
    gap: 24px;
}
#about .row1 {
    display: flex;
    flex-direction: column;
}

#about .row .about-img {
    flex: 1 1 45rem;
}

#about .row .about-img {
    width: 100%;
}

#about .row .row1 h3 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

#about .row .row1 p {
    font-size: 1.4rem;
    margin-bottom: 1rem;
    line-height: 1.65;
}
/* End About */
